* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: #333;
  background-color: #fafafa;
  line-height: 1.6;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #111;
  color: #fff;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(to right, #667eea, #764ba2);
  color: white;
}

section {
  padding: 60px 20px;
  text-align: center;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-card {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0%;
    gap:10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: white;
  margin-top: 40px;
}
